*{
    box-sizing: border-box;
}

.logo{
    width: 300px;
}

.section{
    background-color: antiquewhite;
    padding-top: 2%;
    padding-bottom: 5%;
    width: 100%;
}

.nav-options{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.nav-options a{
    margin-left: 15px;
    display: flex;
}

.intro-section{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.intro-items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
.intro-items img{
    width: 80%;
}

.intro-items h1{
    font-size: 70px;
    font-family: 'Roboto Condensed', sans-serif;
}

.intro{
    text-align: justify;
    width: 96%;
}

p{
    font-size: 18px;
}
.orange-text{
    color: rgb(248, 187, 74);
}

.blue-text{
    color: rgb(29, 29, 65);
}
.cart-logo{
    color: white;
}

.button{
    background-color: rgb(80, 144, 228);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 60px;
}

.button a{
    text-decoration: none;
    color: white;
}

.button:hover a{
    color: black;
}
.shoe-items{
    width: 30%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
}
.main-section{
    margin-top: 5%;
    padding-bottom: 5%;
}

.main-section h2{
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

.main-section h3{
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}
.shoe-items img{
    width: 95%;
    background-color: rgb(236, 232, 232);
    border-radius: 20px;
}

.shoe-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.items-buy{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.items-buy h4{
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.last-part{
    margin-top: 10%;
    width: 100%;
    display: flex;
    padding-bottom: 10%;
}

.last-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.last-container img{
    width: 100%;
}

.last-items{
    margin:2%;
    display: flex;
    width: 70%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px;
}

.texts{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.last-items h5{
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.images{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.images img{
    width: 100%;
}

@media only screen and (max-width: 768px){
    .intro-section{
        flex-direction: column-reverse;
        margin-top: 10%;
    }
    .intro-image{
        width: 100%;
    }
    .shoe-container{
        flex-direction: column;
        align-items: center;
    }
    .shoe-items{
        width: 90%;
    }

    .main-section h2{
        text-align: center;
    }

    .last-part{
        flex-direction: column-reverse;
    }

    .last-container{
        width: 100%;
        margin: 10% 0;
    }

    .last-items{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .images{
        width: 30%;
    }
}

@media (min-width:768px) and (max-width:992px){
    .shoe-items{
        width: 45%;
        display: flex;
    }

    .button{
        width: 150px;
    }

    .last-part{
        flex-direction: column-reverse;
    }

    .last-container{
        width: 100%;
        margin: 5% 0;
        display: flex;
    }
}

@media (min-width: 992px) and (max-width:1200px){
    .button{
        width: 130px;
    }
}